{% macro get_top(case, is_first) %}
<h5 class="card-header d-flex justify-content-between align-items-center">
  <span>Case ID: {{ case['Case ID'] }} - {{ case['Severity'] }}</span>
  <div class="dropdown">
    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="detailsDropdown{{ case['Case ID'] }}" data-bs-toggle="dropdown" aria-expanded="false"
    {% if is_first %}data-step="2" data-intro="Click Here to View the Patient Details"{% endif %}>
      View Details
    </button>
    <div class="dropdown-menu" aria-labelledby="detailsDropdown{{ case['Case ID'] }}" style="position: absolute; z-index: 1000;">
      <ul class="list-unstyled mb-0">
        <li class="dropdown-item">
          Bed Types Needed: {{ case['Bed Types Needed']|join(", ") }}
        </li>
        <li class="dropdown-item">
          Specialties Needed: {{ case['Specialties Needed']|join(", ") }}
        </li>
        {% if case['Gender'] %}
        <li class="dropdown-item">Gender: {{ case['Gender'] }}</li>
        {% endif %} {% if case['Age'] %}
        <li class="dropdown-item">Age: {{ case['Age'] }}</li>
        {% endif %} {% if case['Injury ICD10_1'] %}
        <li class="dropdown-item">Injury ICD10_1: {{ case['Injury ICD10_1'] }}</li>
        {% endif %} {% if case['Injury ICD10_2'] %}
        <li class="dropdown-item">Injury ICD10_2: {{ case['Injury ICD10_2'] }}</li>
        {% endif %} {% if case['Injury ICD10_3'] %}
        <li class="dropdown-item">Injury ICD10_3: {{ case['Injury ICD10_3'] }}</li>
        {% endif %} {% if case['Injury ICD10_4'] %}
        <li class="dropdown-item">Injury ICD10_4: {{ case['Injury ICD10_4'] }}</li>
        {% endif %} {% if case['Injury AIS_1'] %}
        <li class="dropdown-item">Injury AIS_1: {{ case['Injury AIS_1'] }}</li>
        {% endif %} {% if case['Injury AIS_2'] %}
        <li class="dropdown-item">Injury AIS_2: {{ case['Injury AIS_2'] }}</li>
        {% endif %} {% if case['Injury AIS_3'] %}
        <li class="dropdown-item">Injury AIS_3: {{ case['Injury AIS_3'] }}</li>
        {% endif %} {% if case['Injury AIS_4'] %}
        <li class="dropdown-item">Injury AIS_4: {{ case['Injury AIS_4'] }}</li>
        {% endif %} {% if case['Combat Status'] %}
        <li class="dropdown-item">Combat Status: {{ case['Combat Status'] }}</li>
        {% endif %} {% if case['Max ISS Score'] %}
        <li class="dropdown-item">Max ISS Score: {{ case['Max ISS Score'] }}</li>
        {% endif %} {% if case['Mechanism Injury'] %}
        <li class="dropdown-item">
          Mechanism Injury: {{ case['Mechanism Injury'] }}
        </li>
        {% endif %} {% if case['Primary Injury Type'] %}
        <li class="dropdown-item">
          Primary Injury Type: {{ case['Primary Injury Type'] }}
        </li>
        {% endif %} {% if case['Secondary Injury Type'] %}
        <li class="dropdown-item">
          Secondary Injury Type: {{ case['Secondary Injury Type'] }}
        </li>
        {% endif %} {% if case['Tertiary Injury Type'] %}
        <li class="dropdown-item">
          Tertiary Injury Type: {{ case['Tertiary Injury Type'] }}
        </li>
        {% endif %} {% if case['Medical Complications'] %}
        <li class="dropdown-item">
          Medical Complications: {{ case['Medical Complications'] }}
        </li>
        {% endif %} {% if case['Disposition'] %}
        <li class="dropdown-item">Disposition: {{ case['Disposition'] }}</li>
        {% endif %}
      </ul>
    </div>
    {% if case.is_confirmed == false %}
      <button
        class="btn btn-secondary btn-sm skip-btn"
        data-case-id="{{ case['Case ID'] }}"
        severity="{{ case['Severity'] }}"
        {% if is_first %}data-step="5" data-intro="If you would not like to assign the patient now, you can move it to the end of its respective severity "{% endif %}
      >
        Skip for Now
      </button>
    {% endif %}
  </div>
</h5>
{% endmacro%}
{% macro get_body(case, is_first)%}
<style>
</style>
<div class="card-body">
  {% if case.is_confirmed == True %}
  <div class="post-confirmed">
    Case {{ case['Case ID'] }} assigned to {{ case['confirmed_facility'] }} in
    a {{ case['Bed Types Needed'][0] }} bed with {{ case['mode'] }} transport
    with a {{ case['time'] }}min travel time.
  </div>
  {% else %}
  <div > 
    <div class="d-flex flex-column flex-md-row justify-content-between">
      <div {% if is_first %}data-step="3" data-intro="Here are the Adaquate Ground Facilites"{% endif %}>
        <h6 class="card-title">Ground Travel:</h6>
        {% for facility_info in case['Travel Time Ground'] %}
        <p class="card-text d-flex align-items-center">
          <span
            class="badge bg-primary me-1"
            onclick="sendData('{{ facility_info[0] }}', '{{ case['Bed Types Needed'][0] }}', 'Ground', {{ facility_info[1]['Ground'] }}, this.closest('.card'), '{{ case['Case ID'] }}')"
          >
            {% if case['Facilities'][facility_info[0]]['Bed Count'] > 0 %} {{
            facility_info[0] }}: {{ facility_info[1]['Ground'] }}min ({{
            case['Facilities'][facility_info[0]]['Bed Count'] }} beds) {% else
            %} {{ facility_info[0] }}: {{ facility_info[1]['Ground'] }}min ({{
            case['Facilities'][facility_info[0]]['Bed Count'] }} bed) {%endif%}
          </span>
        </p>
        {% endfor %}
      </div>
      <div {% if is_first %}data-step="4" data-intro="Here are the Adaquate Air Facilites"{% endif %}>
        <h6 class="card-title">
         
          <!-- Non-breaking space to align Air times -->
          Air Travel:
        </h6>
        {% for facility_info in case['Travel Time Air'] %} {% if
        facility_info[1]['Air'] > 0 %}
        <p class="card-text d-flex align-items-center">
          <span
            class="badge bg-info me-1" 
            onclick="sendData('{{ facility_info[0] }}', '{{ case['Bed Types Needed'][0] }}', 'Air', {{ facility_info[1]['Air'] }}, this.closest('.card'), '{{ case['Case ID'] }}')"
            >
            {% if case['Facilities'][facility_info[0]]['Bed Count'] > 0 %} {{
            facility_info[0] }}: {{ facility_info[1]['Air'] }}min ({{
            case['Facilities'][facility_info[0]]['Bed Count'] }} beds) {% else
            %} {{ facility_info[0] }}: {{ facility_info[1]['Air'] }}min ({{
            case['Facilities'][facility_info[0]]['Bed Count'] }} bed) {%endif%}
          </span>
        </p>
        {% endif %} {% endfor %}
      </div>
    </div>
    <br />

  </div>
  <button class="btn btn-success confirm-btn" style="display: none">
  </button>

  {% endif %}
</div>
  {% endmacro%}

